.Meaning {
  background-color: white;
  padding: 1vh 1vw;
  margin: 2vh auto;
  border-radius: 4px;
  box-shadow: 0 5px 6px rgba(128, 128, 128, 0.6);
}

.Meaning li {
  list-style-type: none;
}

.Menaing-partOfSpeech {
  color: rgb(255, 145, 0);
}

.Meaning strong {
  color: rgb(66, 66, 66);
}
